/* ALL FORMS */

.form-heading, .form-checkbox {
  margin-bottom: 10px;
}


/* Login
------------------------- */

.form-login{
  max-width: 330px;
  padding: 15px;
  margin: 60px auto;
}

.form-login .checkbox {
  font-weight: normal;
}
.form-login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login input[name="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-login input[name="password"] {
  margin-bottom: 15px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}


/* Register
------------------------- */

.form-register {
  max-width: 330px;
  padding: 15px;
  margin: 60px auto;
}

.form-register .checkbox {
  font-weight: normal;
}
.form-register .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-register .form-control:focus {
  z-index: 2;
}
.form-register input[name="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-register input[name="email"] {
  margin-bottom: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-register input[name="password"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-register input[name="passwordConfirm"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* Add a doku
------------------------- */

.form-doku-add {
  max-width: 330px;
  padding: 15px;
  margin: 50px auto;
}

.form-doku-add .checkbox {
  font-weight: normal;
}
.form-doku-add .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-doku-add .form-control:focus {
  z-index: 2;
}
.form-doku-add input[name="title"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-doku-add input[name="parent"] {
  margin-bottom: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-doku-add #submit {
  width:150px;
  margin:0px auto;
}



/* Add an Item 
------------------------- */

.form-item-add {
  max-width: 330px;
  padding: 15px;
  margin: 50px auto;
}

.form-item-add .checkbox {
  font-weight: normal;
}
.form-item-add .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-item-add .form-control:focus {
  z-index: 2;
}
.form-item-add input[name="title"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-item-add input[name="artist"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-item-add input[name="year"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-item-add input[name="link"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-item-add input[name="imglink"] {
  margin-bottom: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-item-add #submit {
  width:150px;
  margin:0px auto;
}


/* Add a Post
------------------------- */

.form-post-add {
  max-width: 500px;
  padding: 10px;
  margin-right:auto;
  margin-left:auto;
  margin-top:20px;
  margin-bottom:50px
}

.form-post-add .checkbox {
  font-weight: normal;
}

.form-post-add .form-control {
  position: relative;
  height: 150px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-post-add .form-control:focus {
  z-index: 2;
}

.form-post-add #submit {
  width:150px;
  margin:20px auto;
}

.form-upvote {
  width:20px;
  margin:0px;
  display:block;
}

.form-downvote {
  width:20px;
  margin:0px;
  display:block;
}

.form-upvote #submit {
  width:20px;
  height:20px;
  font-size:10px;
  padding:0px;
  margin:0px;
}

.form-downvote #submit {
  width:20px;
  height:20px;
  font-size:10px;
  padding:0px;
  margin:0px;
}

