/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.imgheader {
  height: 250px;
}

.imgheader-caption {
	margin-bottom: 20px;
  margin-top:270px;
	margin-right:auto;
	margin-left:auto;
  width:400px;
  z-index: 5;
}

.imgheader-caption > p {
    font-size: 17px;
    line-height: 1.4;
    margin-bottom:40px;
		color:#fff;
	  text-shadow: 1.5px 1.5px 0px #000;   
  }

.imgheader-caption > h1 {
    font-size: 35px;
    margin-bottom:10px;
		color:#fff;
    text-shadow: 1.5px 1.5px 0px #000;
   
  }


.imgheader > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
  z-index:-1;

}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-image {
  margin-top: 100px;

}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/* RESPONSIVE CSS
-------------------------------------------------- */

.contentwrapper {
margin-left:auto;
margin-right:auto;
margin-top:100px;
width: 500px;
display:block;
}

.contentwrapper h1 {
text-align:center;
}

footer {
margin-top:50px;
position:relative;
clear:both;
}

.item_list {
margin-top: 150px;
margin-bottom:150px;
display:block;
float:left;
position:relative;
margin-left: 50px;
}

.items {
width: 700px;
height: 100px;
border: 1px solid black;
display:block;
margin-bottom:20px;

}

.items .image {
margin-left:25px;
margin-top:2px;
display:block;
float:left;
}

.items .title {
width:150px;
float:left;
margin-left:30px;
margin-top:15px;
display:block;
font-weight:bold;

}

.items .title h1 {
font-size:20px;
line-height:25px;
}


.items .details {
float: left;
margin-left:15px;
margin-top:20px;
display:block;
width:150px;
}

.items .details p {
font-size:15px;
line-height:20px;
}

.items .description {
	width:200px;
	margin-top:20px;
	margin-right:25px;
	font-size:10px;
	display:block;
	float:right;
}


.doku_info {
	margin-top: 150px;
	margin-bottom:200px;
	margin-left:100px;
	background-color: #C2C2A3;
	float:left;
	display:block;
	width:250px;
	height:500px;
	border: 1px solid;
    border-radius: 15px;

}

.doku_info h1 {
	text-align:center;
	text-decoration: underline;
}

.doku_info h2 {
	text-align:center;
	font-size: 25px;
	
}

.doku_info h3 {
	text-align:center;
	font-size: 20px;
	line-height:5px;
}

.doku_list {
margin:30px auto;
width: 500px;
}

/* Posts 
-------------------------------------------------- */

.post {
margin-bottom:10px;
{

.notlogged {
  width:200px;
  margin:50px auto;
}

.subdoku {
  margin-top:100px;
  border:1px solid;
}

.item {
margin-top:20px;
}
