/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  height:100%;
}

.contentwrapper {
margin-left:auto;
margin-right:auto;
margin-top:100px;
width: 700px;
display:block;
}

.contentwrapper h1 {
text-align:center;
}

footer {
margin-top:50px;
position:relative;
clear:both;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.imgheader {
  height: 250px;
}

.imgheader-caption {
	margin-bottom: 20px;
  margin-top:270px;
	margin-right:auto;
	margin-left:auto;
  width:400px;
  z-index: 5;
}

.imgheader-caption > p {
    font-size: 17px;
    line-height: 1.4;
    margin-bottom:40px;
		color:#fff;
	  text-shadow: 1.5px 1.5px 0px #000;   
  }

.imgheader-caption > h1 {
    font-size: 35px;
    margin-bottom:10px;
		color:#fff;
    text-shadow: 1.5px 1.5px 0px #000;
   
  }


.imgheader > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
  z-index:-1;

}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-image {
  margin-top: 100px;

}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/* DOku
-------------------------------------------------- */

.mainitems {
  width:700px;
  margin-top: 30px;
  display: block;
  position: relative;
}

.items {
  width: 700px;
  height: 80px;
  border: 1px solid black;
  position: relative;
  display:block;
  margin-bottom:20px;
  padding-left:5px;

}

.items img {
  margin-top:2px;
  margin-left:2px;
  margin-right:20px;

}

.items .voting {
  display: block;
  float:right;
  height:80px;
}

.items .votes {
font-size:30px;
margin-top:20px;
display:block;
float:left;
}

.items .btn {
  float:right;
  display:block;
  margin-top:20px;
  margin-right:10px;
}

.doku_details {
border: 1px solid black;
padding:5px;
position: relative;
display:block;
}

/* Item
-------------------------------------------------- */
.postlist {
  display:block;
  position:relative;
  overflow:auto;

}
.post {
  margin-bottom:20px;
  height:auto;
  display:block;
  position:relative;
  overflow:auto;
}

.post .text {
  float:left;
  max-width:450px;
  display:block;
}

.post .votes {
  display: block;
  float:right;
}

.notlogged {
  width:200px;
  margin:50px auto;
}

.itemdetails {
  margin-bottom:200px;
}

.iteminfo {
  float:right;
  display:block;
  margin-right:200px;
  margin-top:20px;
}

.itemdetails img {
  float:left;
  margin-left:200px;
}

.itemedit{
  width:100px;
  margin:20px auto;
}
