{% extends "layout.html" %}
{% block title %}{{ header}} Doku{% endblock %}
{% block content %}

<div class="contentwrapper">
    <h1>{{ header }} Doku</h1>

{% for a in items %}
    <p>
    <a href="./item?id={{ a.id }}">{{ a.title }}</a>,{{ a.artist }}, {{ a.year }}, {{ a.upvotes }}, {{ a.downvotes }}
    {% if current_user.is_authenticated() and current_user.is_admin() %}
    <a href="/removeitem/{{ a.id }}">(Delete)</a>
    {% endif %}
{% if current_user.is_authenticated() %} 
    <a href="/upvoteitem/{{ a.id }}">(Upvote)</a>
    <a href="/downvoteitem/{{ a.id }}">(Downvote)</a>

{% endif %}
    
    </p>
{% endfor %}
</br>
{% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
      {% endif %}
    {% endwith %}


{% if current_user.is_authenticated() == False %}
<div class="notlogged">
<p><a href="/login">Login</a> or <a href="/register">Register</a> to add items to this Doku!</p>
</div>
{% endif %}

{% if current_user.is_authenticated() %}
<form class="form-item-add" role="form" method="post" action="" autocomplete="off">
{{ form.hidden_tag() }}
<h2 class ="form-heading">Add an Item</h2>

{{ form.title(class_='form-control', placeholder="Title") }}
{{ form.artist(class_='form-control', placeholder="Artist") }}
{{ form.year(class_='form-control', placeholder="Year") }}
{{ form.link(class_='form-control', placeholder="Link") }}
{{ form.submit(class_='btn btn-lg btn-primary btn-block') }}

</div>
  
{% for message in form.title.errors %}
    <div class="flash">{{ message }}</div>
{% endfor %}

{% for message in form.artist.errors %}
    <div class="flash">{{ message }}</div>
{% endfor %}

{% for message in form.year.errors %}
    <div class="flash">{{ message }}</div>
{% endfor %}

{% for message in form.link.errors %}
    <div class="flash">{{ message }}</div>
{% endfor %}
</form>
{% endif %}
{% endblock %}
