{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<div class="contentwrapper">
    <h1>Welcome to Tzundoku!</h1>
    <p> Mission: To help you discover the best content in a wide variety of domains. From academia to fiction, films and music.</p>

    </br>

    <p>Always wanted to understanding Quantum Mechanics? Tzundoku gives you the best books, articles and journals.</p>

    </br>

    <p>Or get into a new genre of music like Fusion Jazz? Tzundoku is the place to discover the best new and classic albums in every genre.</p>
</div>
{% endblock %}
