{% extends "layout.html" %}
{% block title %}{{ header }}{% endblock %}
{% block content %}

<div class="contentwrapper">
    <div class="itemdetails">
    	<h1>{{ item.title }}</h1>
		<img src="{{ item.imglink }}" alt="{{ item.title }}" height="100px">
		<div class="iteminfo">
        <p>
		Appears on:  
    	{% for a in item.dokus %}
   		 <a href="./doku?id={{ a.id }}">{{ a.title }}</a>
    	{% endfor %}	
        </p>
		<a href="{{ item.link }}">Wikipedia</a>
		<a href="">Buy</a></br>
        <button type="button" id="itemedit">Edit Item</button>    
		</div>
	</div> 

<form class="form-item-add" id="form-item-edit" role="form" method="post" action="./edititem?id={{ item.id }}" autocomplete="off">
{{ edititemform.csrf }}
{{ edititemform.imglink(class_='form-control', placeholder="Image Link", style="display:none") }}
{{ edititemform.link(class_='form-control', placeholder="Link", style="display:none") }}
{{ edititemform.submit(class_='btn btn-lg btn-primary btn-block', style="display:none") }}
</form>

<script>
$('#itemedit').click(function() {
    $('#form-item-edit #imglink').toggle();
    $('#form-item-edit #link').toggle();
    $('#form-item-edit #submit').toggle();
});
</script>

<div class="postlist">
{% for a in showposts %}
    <div class="post">
	<div class="text">
    <b><a href="/user/{{ a.user_id }}">{{ a.users.username|capitalize }}</a>(<span id="votes{{ a.id }}">{{ a.numvotes() }}</span>): </b></br>{{ a.message }}
    </div>
    <div class="votes">
    {% if current_user.is_authenticated() and current_user.is_admin() or current_user.id == a.user_id %}
    <a id="postedit{{ a.id }}">(Edit)</a>
    <a href="/removepost/{{ a.id }}">(Delete)</a>  
    {% endif %}
    {% if current_user.is_authenticated() %} 
    <button type="button" id="upvotebutton{{ a.id }}" data-button='{"vote": true, "post_id": {{ a.id }}}'>(Upvote)</button>
    <button type="button" id="downvotebutton{{ a.id }}" data-button='{"vote": false, "post_id": {{ a.id }}}'>(Downvote)</button>
    {% endif %}
	</div>
<form class="form-item-add" id="editpostform{{ a.id }}" role="form" method="post" action="./editpost/{{ item.id }}/{{ a.id }}" autocomplete="off">
{{ editpostform.csrf }}
{{ editpostform.message(class_='form-control', placeholder="Message", style="display:none") }}
{{ editpostform.submit(class_=' btn btn-lg btn-primary btn-block', style="display:none") }}
</form>
<script>
$('#postedit{{ a.id }}').on('click', function() {
    $('#editpostform{{ a.id }} #message').val("{{ a.message }}");
    $('#editpostform{{ a.id }} #message').toggle();
    $('#editpostform{{ a.id }} #submit').toggle();

});
</script>
</div>


<script>
$(document).ready(function(){
    $("#upvotebutton{{ a.id }}").click(function(){
    var data = $.parseJSON($(this).attr('data-button')); 
    var vote = data.vote 
    var post_id = data.post_id 
    var user_id = "{{ current_user.id }}";
    var item_id = "{{ item.id }}";

    var nud = {
        "vote" : vote,
        "post_id" : post_id,
        "user_id" : user_id,
        "item_id" : item_id
    }
    $.ajax({
        type: "POST",
        url: "/upvotepost",
        data: JSON.stringify(nud, null, '\t'),
        contentType: 'application/json;charset=UTF-8',
        success: function(result) {
            console.log(result);
            var post_id = result['post_id']
            var numvotes = result['numvotes'] 
            $('#votes'+ post_id).text(numvotes) 
        }
    })
    }); 

    $("#downvotebutton{{ a.id }}").click(function(){
    var data = $.parseJSON($(this).attr('data-button')); 
    var vote = data.vote 
    var post_id = data.post_id 
    var user_id = "{{ current_user.id }}";
    var item_id = "{{ item.id }}";

    var nud = {
        "vote" : vote,
        "post_id" : post_id,
        "user_id" : user_id,
        "item_id" : item_id
    }
    $.ajax({
        type: "POST",
        url: "/downvotepost",
        data: JSON.stringify(nud, null, '\t'),
        contentType: 'application/json;charset=UTF-8',
        success: function(result) {
            console.log(result);
            var post_id = result['post_id']
            var numvotes = result['numvotes'] 
            $('#votes'+ post_id).text(numvotes) 
        }
    })
    }); 
})
</script>
{% endfor %}
</div>
</br>
{% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
      {% endif %}
    {% endwith %}

{% if current_user.is_authenticated() == False %}
<div class="notlogged">
<p><a href="/login">Login</a> or <a href="/register">Register</a> to post and vote!</p>
</div>
{% endif %}


{% if current_user.is_authenticated() %}

<form class="form-post-add" role="form" method="post" action="./addpost?id={{ item.id}}" autocomplete="off">
<h2 class ="form-heading">Add Post</h2>
{{ addpostform.csrf_token }}

{{ addpostform.message(class_='form-control', placeholder="Message") }}
{{ addpostform.submit(class_='btn btn-lg btn-primary btn-block') }}
 
{% for post in addpostform.message.errors %}
    <div class="flash">{{ post }}</div>
{% endfor %}

</form>
{% endif %}
</div>
 

{% endblock %}
