{% extends "layout.html" %}
{% block title %}{{ header }}{% endblock %}
{% block content %}



<div class="contentwrapper">
    <div class="itemdetails">
    	<h1>{{ item.title }}</h1>
		<img src="{{ item.imglink }}" alt="{{ item.title }}" height="100px">
		<div class="iteminfo">
		<p> Appears on:  
    	{% for a in item.dokus %}
   		 <a href="./doku?id={{ a.id }}">{{ a.title }}</a>
    	{% endfor %}
		</p>
		<a href="{{ item.link }}">Wikipedia</a></br>
		<a href="">Buy</a>
		</div>
	</div> 

<div class="postlist">
{% for a in showposts %}
    <div class="post">
	<div class="text">
    <b><a href="/user/{{ a.user_id }}">{{ a.users.username|capitalize }}</a>(<span id="votes{{ a.id }}">{{ a.numvotes() }}</span>): </b></br>{{ a.message }}
    </div>
    <div class="votes">
    {% if current_user.is_authenticated() and current_user.is_admin() or current_user.id == a.user_id %}
    <a href="/removepost/{{ a.id }}">(Delete)</a>  
    {% endif %}
    {% if current_user.is_authenticated() %} 
    <button type="button" id="upvotebutton{{ a.id }}" data-button='{"vote": true, "post_id": {{ a.id }}}'>(Upvote)</button>
    <button type="button" id="downvotebutton{{ a.id }}" data-button='{"vote": false, "post_id": {{ a.id }}}'>(Downvote)</button>
    {% endif %}
	</div>
    </div>
    <script>
$(document).ready(function(){
    $("#upvotebutton{{ a.id }}").click(function(){
    var data = $.parseJSON($(this).attr('data-button')); 
    var vote = data.vote 
    var post_id = data.post_id 
    var user_id = "{{ current_user.id }}";
    var item_id = "{{ item.id }}";

    var nud = {
        "vote" : vote,
        "post_id" : post_id,
        "user_id" : user_id,
        "item_id" : item_id
    }
    $.ajax({
        type: "POST",
        url: "/upvotepost",
        data: JSON.stringify(nud, null, '\t'),
        contentType: 'application/json;charset=UTF-8',
        success: function(result) {
            console.log(result);
            var post_id = result['post_id']
            var numvotes = result['numvotes'] 
            $('#votes'+ post_id).text(numvotes) 
        }
    })
    }); 

    $("#downvotebutton{{ a.id }}").click(function(){
    var data = $.parseJSON($(this).attr('data-button')); 
    var vote = data.vote 
    var post_id = data.post_id 
    var user_id = "{{ current_user.id }}";
    var item_id = "{{ item.id }}";

    var nud = {
        "vote" : vote,
        "post_id" : post_id,
        "user_id" : user_id,
        "item_id" : item_id
    }
    $.ajax({
        type: "POST",
        url: "/downvotepost",
        data: JSON.stringify(nud, null, '\t'),
        contentType: 'application/json;charset=UTF-8',
        success: function(result) {
            console.log(result);
            var post_id = result['post_id']
            var numvotes = result['numvotes'] 
            $('#votes'+ post_id).text(numvotes) 
        }
    })
    }); 
})
</script>
{% endfor %}
</div>
</br>
{% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
      {% endif %}
    {% endwith %}

{% if current_user.is_authenticated() == False %}
<div class="notlogged">
<p><a href="/login">Login</a> or <a href="/register">Register</a> to post and vote!</p>
</div>
{% endif %}


{% if current_user.is_authenticated() %}

<form class="form-post-add" role="form" method="post" action="" autocomplete="off">
{{ form.hidden_tag() }}
<h2 class ="form-heading">Add Post</h2>

{{ form.message(class_='form-control', placeholder="Message") }}
{{ form.submit(class_='btn btn-lg btn-primary btn-block') }}
 
{% for post in form.message.errors %}
    <div class="flash">{{ post }}</div>
{% endfor %}

</form>
{% endif %}
</div>
 

{% endblock %}
