{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}

<form class="form-signin" role="form" method="post" action="" autocomplete="off">

    {{ form.hidden_tag() }}
	<h2 class="form-signin-heading">Please Login</h2>

	<p>Not yet a member? <a href='{{ url_for('register') }}'>Register</a></p>

    {{ form.username(class_='form-control', placeholder="Username") }}
    {{ form.password(class_='form-control', placeholder="Password") }}
    {{ form.submit(class_="btn btn-lg btn-primary btn-block")  }}

    <a href='reset.php'>Forgot your Password?</a>

  {% for message in form.username.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  {% for message in form.password.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

</form>


{% endblock %}
