{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="doku_list">
{% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
      {% endif %}
    {% endwith %}


<h2 class="form-register-heading">List of Dokus Already Created</h2>

{% for x in titles %}
	{% for y in x %}
		<a href="./?doku={{ y.id }}">{{ y.title }}</a></br>
	{% endfor %}	
{% endfor %}
</div>

<form class="form-register" role="form" method="post" action="" autocomplete="off">
{{ form.hidden_tag() }}
<h2 class="form-register-heading">Add a New Doku</h2>

{{ form.title(class_='form-control', placeholder="Doku Name" ) }}
{{ form.parent(class_='form-control', placeholder="Doku Parent") }}
{{ form.submit(class_='btn btn-lg btn-primary btn-block') }}


{% for message in form.title.errors %}
    <div class="flash">{{ message }}</div>
{% endfor %}
   
{% for message in form.parent.errors %}
    <div class="flash">{{ message }}</div>
{% endfor %}
</form>

{% endblock %}
