{% extends "layout.html" %}
{% block title %}Overview{% endblock %}
{% block content %}

<div class="contentwrapper">
<h2 class="form-heading">List of Dokus Already Created</h2>


<div id="listContainer">
  <ul id="expList">
  {% for key in titles %}
    <li>
    <a href="./doku?id={{ key.id }}">{{ key.title }}</a>
    {% if current_user.is_authenticated() and current_user.is_admin() %}
        <a href="/removedoku/{{ key.id }}">(Delete)</a> 
    {% endif %}
    <ul>
    {% for key2 in titles[key] %}
        <li>
        <a href="./doku?id={{ key2.id }}">{{ key2.title }}</a>
        {% if current_user.is_authenticated() and current_user.is_admin() %}
            <a href="/removedoku/{{ key2.id }}">(Delete)</a> 
        {% endif %}
        {% if titles[key][key2] %}
        <ul>
        {% endif %}
        {% for key3 in titles[key][key2] %}
            <li>
            <a href="./doku?id={{ key3.id }}">{{ key3.title }}</a>
            {% if current_user.is_authenticated() and current_user.is_admin() %}
                <a href="/removedoku/{{ key3.id }}">(Delete)</a> 
            {% endif %}

        {% endfor %}
        {% if titles[key][key2] %}
        </ul>
        {% endif %}
        </li>
    {% endfor %}
    </ul>
    </li>
    </br>
  {% endfor %}

  </ul>
</div>

{% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
      {% endif %}
    {% endwith %}



{% if current_user.is_authenticated() == False %}
<div class="notlogged">
<p><a href="/login">Login</a> or <a href="/register">Register</a> to add Dokus!</p>
</div>
{% endif %}



{% if current_user.is_authenticated() %}
<form class="form-doku-add" role="form" method="post" action="" autocomplete="off">
{{ form.hidden_tag() }}
<h2 class="form-register-heading">Add a New Doku</h2>

{{ form.title(class_='form-control', placeholder="Doku Name" ) }}
{{ form.parent(class_='form-control', placeholder="Doku Parent") }}
{{ form.submit(class_='btn btn-lg btn-primary btn-block') }}


{% for message in form.title.errors %}
    <div class="flash">{{ message }}</div>
{% endfor %}
   
{% for message in form.parent.errors %}
    <div class="flash">{{ message }}</div>
{% endfor %}
</form>
{% endif %}
</div>
{% endblock %}
