{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}

<form class="form-signin" role="form" method="post" action="" autocomplete="off">
	<h2 class="form-signin-heading">Please Login</h2>
	<p>Not yet a member? <a href='{{ url_for('register') }}'>Register</a></p>
	<label for="inputEmail" class="sr-only">Email address</label>
	<input class="form-control" type="text" name="username" id="username" placeholder="User Name" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="password" placeholder="Password" class="form-control">
    <a href='reset.php'>Forgot your Password?</a>
    <input type="submit" class="btn btn-lg btn-primary btn-block" name="submit" value="Login">
</form>
{{ error }}
{% endblock %}
